.blackout {
    background-color: black;
    color: white;
  }
  
  .sizeing {
    height: 25vh;
    width: 100vw;
    text-align: center;
  }
  
  .textSize {
    font-size: 25px;
    font-weight: bold;
  }
  .dalContainer {
    display: flex;
    justify-content: flex-end;
  }